header {
  width: 100%;
  padding: 20px 0;
  margin: 0;
  background-color: midnightblue;
  }
  
footer{
  width: 100%;
  padding: 20px 0;
  margin: 200px 0 0 0;
  background-color: midnightblue;
}
  
.white {
  color: white;
}

.notice {
  background-color: #ccf;
  padding: 5px;
}

.between {
  display: flex;
  justify-content: space-between;
}

li {
  list-style: none;
}

.container {
  width: 100%;
}

.dropdown__lists {
  display: none;/*デフォルトでは非表示の状態にしておく*/
  position: absolute;
  top: 30px;
  right: 5px;
  width: 10%;
}

.dropdown__list {
  background-color: #fff;
  height: 30px;
  transition: all .3s;
  position: relative;
}

.dropdown__list:hover {
  background-color: orange;
}
.dropdown__list a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-decoration: none;
  position: relative;
}
.gnavi__list span::before {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  transform: rotate(225deg);
  position: absolute;
  right: 24px;
  top: calc(50% - 5px);
}

.gnavi__list span {
  display: inline-block;
  padding-right: 30px;
  padding-left: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.block {
  display: block;
}

body {
  width: 100%;
  margin: 0;
}

.rela {
  position: relative;
}

.icon_image {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  object-fit: cover;
  //タテヨコ比を変えないままトリミング
}

.icon_image_s {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  object-fit: cover;
  cursor: pointer;
}

.vertical {
  display: flex;
  align-items: center;
}

.room_container {
  width: 50%;
  background-color: #FFC7AF;
  padding: 20px;
  margin-right: 40px;
}

a {
  text-decoration: none;
}

