input[type="text"] {
    width: 500px;
    height: 30px;
}

h2 {
    text-align: center;
    font-size: 34px;
}

input[type="email"] {
    width: 500px;
    height: 30px;
}

input[type="password"] {
    width: 500px;
    height: 30px;
}

.field {
    margin-bottom: 20px;
}

.form_btn {
    width: 510px;
    margin: 0 0 20px 0;
    cursor: pointer;
    height: 50px;
}

.btn {
    border: 2px solid #ddd;
    display: block;
    width: 500px;
    margin: 0 0 20px 0;
    cursor: pointer;
    text-align: center;
    color: black;
    height: 40px;
    line-height: 40px;
}

body {
    background-color: #eee;
  }
