.user_partial {
    border: 2px solid #EEEEEE;
    padding: 20px 160px 20px 20px;
}

.user_partial a {
    color: black;
}

.setting {
    margin-left: 30px;
    font-size: 32px;
}

.wid {
    width: 75%;
}

table {
    text-align: left;
}

th {
    padding-top: 20px;
    padding-right: 150px;
}

td {
    padding-top: 20px;
}

.bottom_line {
    border-bottom: 2px solid #eee;
    margin-right: 30px;
}

.bottom_line h2 {
    margin: 0 0 10px 0;
}

.bottom_line a {
    color: rgb(0, 145, 255);
    font-size: 20px;
}

.after_text::after {
    content: "※変更する場合のみ入力";
    font-size: 12px;
}

label {
    display: inline-block;
    padding: 20px 150px 0 0;
    margin-bottom: 0;
}

input[type="password"] {
    width: 600px;
    height: 30px;
}

input[type="email"] {
    width: 600px;
    height: 30px;
    margin-left: 18px;
}

input[type="text"] {
    width: 600px;
    height: 30px;
    margin-left: 60px;
}

textarea {
    width: 600px;
    height: 100px;
    margin-left: 28px;
}

.field {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

input[type="file"] {
    margin-left: 20px;
}

.btn {
    border: 2px solid #ddd;
    display: block;
    width: 150px;
    margin: 0;
    cursor: pointer;
    text-align: center;
    color: black;
    height: 55px;
    line-height: 55px;
    border-radius: 16px;
}

.actions {
    display: flex;
    justify-content: end;
}

.user_btn {
    width: 100px;
    height: 55px;
    font-size: 20px;
    margin-right: 200px;
    cursor: pointer;
    border-radius: 16px;
}
